h1 {
  margin: 0;
}
h3 {
  margin: 0;
}

.name-title {
  /** TEXT GRADIENT */
  color: #fb6376;
  background-image: -webkit-linear-gradient(0deg, #fb6376 2%, #998fc7 70%);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  padding-left: 2rem;
}

.home-page-container {
  background-color: black;
  width: 100vw;
  height: 100vh;
  color: rgb(231, 223, 216);
}

.home-page-container > * {
  padding-left: 8vw;
  padding-right: 8vw;
}

.content-container {
  display: flex;
  flex-direction: row;
  flex-basis: 1;
  gap: 2rem;
}
.flex-item {
  border: 2px solid rgb(231, 223, 216);
  flex-grow: 1;
  width: 25vw;
  padding: 2rem;
  border-radius: 40px;
}

.home-page-header {
  height: 25vh;
  display: flex;
  flex-direction: row;
  padding-top: 4vh;
  align-items: center;
}

.hero-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  box-shadow: rgba(50, 50, 93, 0.35) 0px 40px 80px -20px,
    rgba(0, 0, 0, 0.45) 0px 20px 40px -30px;
}

.social-links {
  display: inline-flex;
  object-fit: cover;
  justify-content: center;
  align-items: center;
}

.social-links-image {
  margin-top: 8px;
  margin-left: 4px;
}

.home-page-aboutme-title {
  font-weight: 500;
  background: linear-gradient(to right, pink, rgb(8, 93, 252));
  background: -webkit-linear-gradient(left, pink, rgb(8, 93, 252));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-page-education-title {
  background: linear-gradient(to right, rgb(194, 229, 236), rgb(252, 8, 187));
  background: -webkit-linear-gradient(
    left,
    rgb(194, 229, 236),
    rgb(252, 8, 187)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
